/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

body{
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  border: 2px solid red;
  margin: 1em;
}

main {
  border: 2px solid gold;
  margin: 1em;
}

footer {
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
}

button {
  height: 1.25rem;
  border-radius: 1rem 1rem;
  color: rgb(49, 77, 161);
  border: 1px solid lightgrey;
  padding: 0 0.45rem 0 0.45rem;
}

button:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.05rem;
  padding: 0 0.55rem 0 0.55rem;
}

nav {
  border: 2px solid purple;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
}

div {
  border: 2px solid orange;
  margin: 1em;
}

section {
  border: 2px solid blue;
  margin: 1em;
}

